<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76074373768-fk89v0kee4tqhpucss8t2adlj221aegj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76074373768-fk89v0kee4tqhpucss8t2adlj221aegj</string>
	<key>API_KEY</key>
	<string>AIzaSyBuvJbuVbMgycKpwPRiRNZAPMiJaY9PB2M</string>
	<key>GCM_SENDER_ID</key>
	<string>76074373768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberUsersideClone</string>
	<key>PROJECT_ID</key>
	<string>photoapp-85f69</string>
	<key>STORAGE_BUCKET</key>
	<string>photoapp-85f69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76074373768:ios:3e7a6208b64ead9b46453d</string>
</dict>
</plist>